<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>html</servlet-name>
        <servlet-class>index.html</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>com.sevlets.signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>queinfoform</servlet-name>
        <servlet-class>com.sevlets.queinfoform</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>queform</servlet-name>
        <servlet-class>com.sevlets.queform</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>questionUpdate</servlet-name>
        <servlet-class>com.sevlets.questionUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentque</servlet-name>
        <servlet-class>com.sevlets.studentque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signIn</servlet-name>
        <servlet-class>com.sevlets.signIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>participate</servlet-name>
        <servlet-class>com.sevlets.participate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentPasswordandID</servlet-name>
        <servlet-class>com.sevlets.studentPasswordandID</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>html</servlet-name>
        <url-pattern>/html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>queinfoform</servlet-name>
        <url-pattern>/questioninformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>queform</servlet-name>
        <url-pattern>/queform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>questionUpdate</servlet-name>
        <url-pattern>/questionUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentque</servlet-name>
        <url-pattern>/studentque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signIn</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>participate</servlet-name>
        <url-pattern>/participate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentPasswordandID</servlet-name>
        <url-pattern>/studentPasswordandID</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
