 img
            {
                width:80px;
                height:60px;
            }
            .navbar {

                height: 70px;
                width: 98%;
                justify-content: space-between;
                display: flex;
                padding: 0px 10px 0px 10px;
                background-color: rgb(203, 218, 230);
                border-radius: 5px;
                color: rgb(21, 21, 104);
            }
            .navbar .logo
            {
                margin: 5px 0px 0px -5px ;
                padding: 0px 0px 0px 0px ;
            }
            .navbar .instution-name {
                margin-right: 250px;
                margin-top: 5px;
            }

            .navbar .menu {
                margin-right: 250px;
                margin-top: 25px;

            }

            .navbar .menu a {
                margin: 10px;
                text-decoration: none;
                padding: 10px 10px;
                border-radius: 5px;
                background-color:rgb(170, 170, 219);
            }

            .navbar .dropdown {
                margin: 10px 5px 10px 5px;
                border-radius: 5px;
                padding: 15px 10px 10px 10px;
                background-color: rgb(170, 170, 219);


            }

            .navbar .dropdown .content {
                display: none;
                position: relative;
                border-top: 4px solid rgb(21, 21, 104);
                width: 130px;
                background-color:  rgb(255, 255, 255);
                box-shadow: 0px 8px 16px 8px rgba(108, 93, 175, 0.2);
                margin: 20px -5px 20px 3px;
                padding: 20px 10px;
                z-index: 1;
            }
            .navbar .dropdown .content button
            {
                margin: 10px 100px 0px 0px;

                width: 100%;
            }

            .navbar .dropdown:hover .content {

                display: block;
            }

            .modal{
                display: none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                overflow: auto;
                background-color: rgba(148, 143, 143, 0.5);
                animation-name: modalopen;
                animation-duration: 1s;
            }
            .modal-content{
                background-color: white;
                border-radius: 5px;
                display: block;
                margin: 8% auto;
                padding: 10px;
                padding-bottom: 40px;
                width: 25%;
                box-shadow: 0 0 19px 4px rgb(214, 211, 211);
                animation-name: modalcontetnopne;

                animation-duration: .5s;
                text-align: center;
            }
            .modal-content input{
                outline: 0;
                border: 0px;
                border-bottom: 1px solid rgb(202, 201, 201);
                background-color: transparent;
                height: 20px;
                width: 60%;
                margin: 15px 20%;
            }

            .closeBtn{
                color: rgb(177, 171, 171);
                float: right;
                font-size: 35px;
                font-weight: 700;
            }
            .closeBtn:hover{
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
            @keyframes modalopen{
                from{
                    opacity: 0;
                }
                to{
                    opacity: 1;
                }
            }
            @keyframes modalcontentopne{
                from{
                    opacity: 0;
                    margin: 0% auto;
                }
                to{
                    opacity: 1;
                    margin: 5% auto;
                }
            }
            .card {
                margin: 100px 40px 40px 350px;
                height: 150px;
                width: 500px;
                padding: 10px 0px 0px 50px;
                background-color:rgb(170, 170, 219);

                color:rgb(59, 59, 138);
                border-radius: 6px;
                justify-content: left;
            }
            .a{

                margin:0px 3px 3px 5px;
                padding: 2px 0px 0px 0px;
                float: left;
            }
            .card input
            {
                border:none;
                border-bottom:1px solid rgb(44, 33, 112);
                outline: 0;
                background-color:rgb(170, 170, 219);
            }
            .b
            {
                margin:5px 0px 5px 0px;
                padding:2px 2px 3px 3px;
            }
            button.c{
                margin: 45px 25px 2px 20px;
                padding:10px 40px 10px 40px;
                background-color: rgb(66, 48, 184);
                color:white;
                border:none;
                border-radius: 5px;
                float: right;
            }

